# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/**/*.angular
**/**/dist
/tmp
/out-tsc
**/**/*.tgz


# dependencies
**/**/node_modules
**/**/target

# pnpm
.pnpm-store
.pnpm-debug.log
pnpm-debug.log*


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.history/*


.editorconfig
*.browserslistrc
.git/*


**/**/test-results
**/**/public/

**/*/coverage
**/**/test-results
**/**/openvidu-meet.**.js

**/**/docs/webcomponent-attributes.md
**/**/docs/webcomponent-commands.md
**/**/docs/webcomponent-events.md
