<ov-meeting>
	<ov-meeting-toolbar-buttons slot="additional-buttons"></ov-meeting-toolbar-buttons>
	<ov-meeting-toolbar-more-options-buttons slot="additional-buttons"></ov-meeting-toolbar-more-options-buttons>
	<ov-meeting-share-link-panel slot="after-local-participant"></ov-meeting-share-link-panel>

	<ov-meeting-participant-panel-item slot="participant-panel-item"></ov-meeting-participant-panel-item>
	<ov-meeting-settings-panel slot="additional-general-elements"></ov-meeting-settings-panel>
	<ov-meeting-layout slot="layout"></ov-meeting-layout>
</ov-meeting>
