@switch (router.currentRoute()?.name) {
	@case ('meeting') {
		@if (router.status() === 'ready') {
			<app-ce-ov-meeting />
		}
	}
	@case ('single-recording') {
		@if (router.status() === 'ready') {
			<ov-view-recording [recordingId]="recordingId()" [recordingSecret]="recordingSecret()"></ov-view-recording>
		}
	}
	@case ('room-recordings') {
		@if (router.status() === 'ready') {
			<ov-room-recordings [roomId]="roomId()"></ov-room-recordings>
		}
	}
	@case ('login') {
		<ov-login [redirectTo]="redirectTo()"></ov-login>
	}
	@case ('change-password') {
		<ov-change-password-required [redirectTo]="redirectTo()"></ov-change-password-required>
	}
	@case ('disconnected') {
		<ov-end-meeting [reason]="disconnectedReason()" />
	}
	@case ('error') {
		<ov-error [reason]="errorReason()!" />
	}
	@case ('invalid') {
		<ov-error [reason]="errorReason()!" />
	}
}
